:root {
    --gray-100: #f1f3fa;
    --gray-200: #eef2f7;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #98a6ad;
    --gray-700: #6c757d;
    --gray-800: #343a40;
    --gray-900: #313a46;

    --primary: #{$blue-dark};
    --secondary: var(--gray-700);
    --success: #{$green};
    --info: #{$cyan};
    --warning: #{$yellow};
    --danger: #{$red};
    --light: var(--gray-200);
    --dark: var(--gray-900);

    --yiq-text-dark: var(--gray-900);

    --body-bg: #f9f9f9;
    --body-color: var(--gray-800);

    --link-color: var(--primary);
    --link-hover-color: darken(var(--link-color), 15%);

    --component-active-bg: var(--primary);

    --text-muted: var(--gray-700);

    --hr-border-color: var(--gray-200);

    --table-color: var(--body-color);
    --table-hover-color: var(--table-color);

    --table-accent-bg: var(--gray-100);
    --table-hover-bg: var(--gray-100);

    --table-border-color: var(--gray-200);

    --table-head-bg: var(--gray-100);
    --table-head-color: var(--gray-700);

    --table-dark-bg: var(--gray-900);
    --table-dark-border-color: lighten(var(--gray-900), 7.5%);
    --table-dark-color: var(--gray-600);

    --input-color: var(--body-color);
    --input-border-color: var(--gray-300);

    --input-focus-border-color: darken(var(--input-border-color), 10%);

    --input-placeholder-color: var(--gray-500);

    --input-group-addon-border-color: var(--input-border-color);

    --custom-control-indicator-border-color: var(--input-border-color);
    --custom-control-indicator-checked-color: var(--primary);
    --custom-control-indicator-checked-border-color: var(--primary);
    --custom-control-indicator-checked-bg: var(--primary);
    --custom-control-indicator-checked-disabled-bg: rgba(var(--primary), 0.5);

    --custom-checkbox-indicator-indeterminate-border-color: var(--primary);
    --custom-checkbox-indicator-indeterminate-bg: var(--primary);

    --custom-select-border-color: var(--input-border-color);
    --custom-select-focus-border-color: var(--input-focus-border-color);
    --custom-control-indicator-focus-box-shadow: 0 0 0 1px var(--body-bg), --input-btn-focus-box-shadow;

    --custom-range-track-bg: var(--gray-300);
    --custom-range-track-box-shadow: inset 0 0.25rem 0.25rem rgba(var(--black), 0.1);

    --custom-range-thumb-bg: var(--component-active-bg);
    --custom-range-thumb-box-shadow: 0 0.1rem 0.25rem rgba(var(--black), 0.1);
    --custom-range-thumb-focus-box-shadow: 0 0 0 1px var(--body-bg), --input-btn-focus-box-shadow;
    --custom-range-thumb-active-bg: lighten(var(--component-active-bg), 35%);

    --custom-file-focus-border-color: var(--input-focus-border-color);

    --custom-file-color: var(--input-color);
    --custom-file-bg: var(--input-bg);
    --custom-file-border-color: var(--input-border-color);
    --custom-file-button-color: var(--custom-file-color);
    --custom-file-button-bg: var(--input-group-addon-bg);

    // Form validation
    --form-feedback-valid-color: theme-color('success');
    --form-feedback-invalid-color: theme-color('danger');

    --form-feedback-icon-valid-color: var(--form-feedback-valid-color);
    --form-feedback-icon-invalid-color: var(--form-feedback-invalid-color);

    // Dropdowns
    --dropdown-border-color: darken(var(--light), 3%);

    --dropdown-link-color: var(--body-color);
    --dropdown-color: var(--body-color);
    --dropdown-link-hover-color: var(--headings-color);

    --dropdown-link-active-color: var(--dark);
    --dropdown-link-active-bg: lighten(var(--light), 3%);

    --dropdown-header-color: inherit;

    // Navs
    --nav-pills-link-active-color: var(--component-active-color);
    --nav-pills-link-active-bg: var(--component-active-bg);

    // Pagination
    --pagination-color: var(--dark);

    --pagination-focus-box-shadow: var(--input-btn-focus-box-shadow);

    --pagination-hover-color: var(--dark);
    --pagination-active-bg: var(--component-active-bg);
    --pagination-active-border-color: var(--pagination-active-bg);

    // Cards
    --card-border-color: var(--gray-400);
    --card-cap-bg: var(--white);

    --card-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

html[data-theme='dark'] {
    --white: #fff;
    --gray-100: #404954;
    --gray-200: #37404a;
    --gray-300: #464f5b;
    --gray-400: #8391a2;
    --gray-500: #aab8c5;
    --gray-600: #ced4da;
    --gray-700: #dee2e6;
    --gray-800: #e3eaef;
    --gray-900: #f1f1f1;

    --primary: #{$indigo};
    --secondary: var(--gray-300);
    --success: #{$green};
    --info: #{$cyan};
    --warning: #{$yellow};
    --danger: #{$red};
    --light: var(--gray-300);
    --dark: var(--gray-900);

    --yiq-text-dark: var(--gray-200);

    --body-bg: #343a40;
    --body-color: var(--gray-500);

    --link-color: var(--primary);
    --link-hover-color: darken(var(--link-color), 15%);

    --component-active-bg: var(--primary);

    --border-color: var(--gray-300);

    --text-muted: var(--gray-400);

    --hr-border-color: lighten(var(--gray-300), 5%);

    --table-color: var(--body-color);
    --table-hover-color: var(--table-color);

    --table-accent-bg: lighten(var(--gray-200), 3%);
    --table-hover-bg: lighten(var(--gray-200), 3%);

    --table-border-color: var(--gray-300);

    --table-head-bg: var(--gray-300);
    --table-head-color: var(--gray-700);

    --table-dark-bg: var(--gray-300);
    --table-dark-border-color: lighten(var(--gray-300), 7.5%);
    --table-dark-color: var(--gray-600);

    --input-bg: var(--gray-100);

    --input-color: var(--gray-800);
    --input-border-color: lighten(var(--gray-100), 3%);

    --input-focus-bg: lighten(var(--input-bg), 2.5%);
    --input-focus-color: var(--gray-800);
    --input-focus-border-color: lighten(var(input-border-color), 5%);

    --input-disabled-bg: var(--input-focus-bg);

    --input-placeholder-color: var(--gray-400);
    --input-plaintext-color: var(--body-color);

    --input-group-addon-border-color: var(--input-border-color);

    --input-group-addon-color: var(--input-color);
    --input-group-addon-bg: var(--input-border-color);
    --input-group-addon-border-color: var(--input-border-color);

    --custom-control-indicator-disabled-bg: var(--gray-200);
    --custom-control-indicator-bg: var(--gray-300);
    --custom-control-indicator-border-color: lighten(var(--input-border-color), 5%);
    --custom-control-indicator-checked-color: var(--primary);
    --custom-control-indicator-checked-border-color: var(--primary);
    --custom-control-indicator-checked-bg: var(--primary);
    --custom-control-indicator-checked-disabled-bg: rgba(var(--primary), 0.5);

    --custom-checkbox-indicator-indeterminate-border-color: var(--primary);
    --custom-checkbox-indicator-indeterminate-bg: var(--primary);

    --custom-select-color: var(--input-color);
    --custom-select-bg: var(--input-bg);
    --custom-select-border-color: var(--input-border-color);
    --custom-select-focus-border-color: var(--input-focus-border-color);
    --custom-control-indicator-focus-box-shadow: 0 0 0 1px var(--body-bg), var(--input-btn-focus-box-shadow);
    --custom-select-indicator-color: var(--gray-800);

    --custom-range-track-bg: var(--gray-300);
    --custom-range-track-box-shadow: inset 0 0.25rem 0.25rem rgba(var(--black), 0.1);

    --custom-range-thumb-bg: var(--component-active-bg);
    --custom-range-thumb-box-shadow: 0 0.1rem 0.25rem rgba(var(--black), 0.1);
    --custom-range-thumb-focus-box-shadow: 0 0 0 1px var(--body-bg), --input-btn-focus-box-shadow;
    --custom-range-thumb-active-bg: lighten(var(--component-active-bg), 35%);

    --custom-file-focus-border-color: var(--input-focus-border-color);

    --custom-file-color: var(--input-color);
    --custom-file-bg: var(--input-bg);
    --custom-file-border-color: var(--input-border-color);
    --custom-file-button-color: var(--custom-file-color);
    --custom-file-button-bg: var(--input-group-addon-bg);

    // Form validation

    --form-feedback-valid-color: theme-color('success');
    --form-feedback-invalid-color: theme-color('danger');

    --form-feedback-icon-valid-color: var(--form-feedback-valid-color);
    --form-feedback-icon-invalid-color: var(--form-feedback-invalid-color);

    // Dropdowns
    --dropdown-bg: var(--gray-300);
    --dropdown-border-color: lighten(var(--gray-300), 3%);

    --dropdown-link-color: var(--body-color);
    --dropdown-color: var(--body-color);
    --dropdown-link-hover-color: var(--headings-color);
    --dropdown-link-hover-bg: lighten(var(--gray-300), 3%);

    --dropdown-link-active-color: var(--white);
    --dropdown-link-active-bg: lighten(var(--gray-300), 3%);

    --dropdown-divider-bg: lighten(var(--gray-300), 3%);

    // Navs
    --nav-pills-link-active-color: var(--component-active-color);
    --nav-pills-link-active-bg: var(--component-active-bg);

    --nav-tabs-border-color: lighten(var(--gray-300), 3%);
    --nav-tabs-link-hover-border-color: lighten(var(--gray-300), 3%);

    --nav-tabs-link-active-color: var(--gray-700);
    --nav-tabs-link-active-bg: var(--gray-300);
    --nav-tabs-link-active-border-color: lighten(var(--gray-300), 3%);

    --nav-divider-color: var(--gray-300);

    //Navbar
    --navbar-light-active-color: rgba(var(--white), 0.9);
    --navbar-light-brand-color: var(--navbar-light-active-color);
    --navbar-light-brand-hover-color: var(--navbar-light-active-color);

    // Pagination
    --pagination-color: var(--gray-400);
    --pagination-bg: lighten(var(--gray-200), 3%);
    --pagination-border-color: var(--gray-300);
    --pagination-focus-box-shadow: var(--input-btn-focus-box-shadow);

    --pagination-hover-color: var(--gray-700);
    --pagination-hover-bg: lighten(var(--pagination-bg), 3%);
    --pagination-hover-border-color: var(--gray-300);
    --pagination-active-bg: var(--component-active-bg);
    --pagination-active-border-color: var(--pagination-active-bg);

    --pagination-disabled-color: var(--gray-400);
    --pagination-disabled-bg: lighten(var(--pagination-bg), 5%);
    --pagination-disabled-border-color: lighten(var(--pagination-bg), 5%);

    // Cards
    --card-bg: var(--gray-200);
    --card-border-color: lighten(var(--gray-300), 3%);
    --card-cap-bg: var(--gray-300);

    --card-box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
}

$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);
$gray-600: var(--gray-600);
$gray-700: var(--gray-700);
$gray-800: var(--gray-800);
$gray-900: var(--gray-900);

$primary: var(--primary);
$secondary: var(--secondary);
$success: var(--success);
$info: var(--info);
$warning: var(--warning);
$danger: var(--danger);
$light: var(--light);
$dark: var(--dark);

//$yiq-text-dark: var(--yiq-text-dark);

$body-bg: var(--body-bg);
$body-color: var(--body-color);

$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);

$component-active-bg: var(--component-active-bg);

$text-muted: var(--text-muted);

$hr-border-color: var(--hr-border-color);

$table-color: var(--table-color);
$table-hover-color: var(--table-hover-color);

$table-accent-bg: var(--table-accent-bg);
$table-hover-bg: var(--table-hover-bg);

$table-border-color: var(--table-border-color);

$table-head-bg: var(--table-head-bg);
$table-head-color: var(--table-head-color);

$table-dark-bg: var(--table-dark-bg);
$table-dark-border-color: var(--table-dark-border-color);
$table-dark-color: var(--table-dark-color);

$input-btn-focus-color: rgba(var(--primary), 0.25);

$btn-link-disabled-color: var(--gray-500);

$input-bg: var(--input-bg);

$input-color: var(--input-color);
$input-border-color: var(--input-border-color);

$input-focus-border-color: var(--input-focus-border-color);

$input-placeholder-color: var(--input-placeholder-color);

$input-group-addon-border-color: var(--input-group-addon-border-color);

$custom-control-indicator-border-color: var(--custom-control-indicator-border-color);
$custom-control-indicator-checked-color: var(--custom-control-indicator-checked-color);
$custom-control-indicator-checked-border-color: var(--custom-control-indicator-checked-border-color);
$custom-control-indicator-checked-bg: var(--custom-control-indicator-checked-bg);
$custom-control-indicator-checked-disabled-bg: var(--custom-control-indicator-checked-disabled-bg);

$custom-checkbox-indicator-indeterminate-border-color: var(--custom-checkbox-indicator-indeterminate-border-color);
$custom-checkbox-indicator-indeterminate-bg: var(--custom-checkbox-indicator-indeterminate-bg);

$custom-select-border-color: var(--custom-select-border-color);
$custom-select-focus-border-color: var(--custom-select-focus-border-color);
$custom-control-indicator-focus-box-shadow: var(--custom-control-indicator-focus-box-shadow);

$custom-range-track-bg: var(--custom-range-track-bg);
$custom-range-track-box-shadow: var(--custom-range-track-box-shadow);

$custom-range-thumb-bg: var(--custom-range-thumb-bg);
$custom-range-thumb-box-shadow: var(--custom-range-thumb-box-shadow);
$custom-range-thumb-focus-box-shadow: var(--custom-range-thumb-focus-box-shadow);
$custom-range-thumb-active-bg: var(--custom-range-thumb-active-bg);

$custom-file-focus-border-color: var(--custom-file-focus-border-color);

$custom-file-color: var(--custom-file-color);
$custom-file-bg: var(--custom-file-bg);
$custom-file-border-color: var(--custom-file-border-color);
$custom-file-button-color: var(--custom-file-button-color);
$custom-file-button-bg: var(--custom-file-button-bg);

// Form validation
$form-feedback-valid-color: var(--form-feedback-valid-color);
$form-feedback-invalid-color: var(--form-feedback-invalid-color);

$form-feedback-icon-valid-color: var(--form-feedback-icon-valid-color);
$form-feedback-icon-invalid-color: var(--form-feedback-icon-invalid-color);

// Dropdowns
$dropdown-border-color: var(--dropdown-border-color);

$dropdown-link-color: var(--dropdown-link-color);
$dropdown-color: var(--dropdown-color);
$dropdown-link-hover-color: var(--dropdown-link-hover-color);

$dropdown-link-active-color: var(--dropdown-link-active-color);
$dropdown-link-active-bg: var(--dropdown-link-active-bg);

$dropdown-header-color: var(--dropdown-header-color);

// Navs
$nav-pills-link-active-color: var(--nav-pills-link-active-color);
$nav-pills-link-active-bg: var(--nav-pills-link-active-bg);

// Pagination
$pagination-color: var(--pagination-color);

$pagination-focus-box-shadow: var(--pagination-focus-box-shadow);

$pagination-hover-color: var(--pagination-hover-color);
$pagination-active-bg: var(--pagination-active-bg);
$pagination-active-border-color: var(--pagination-active-border-color);

// Cards
$card-border-color: var(--card-border-color);
$card-cap-bg: var(--card-cap-bg);

$card-box-shadow: var(--card-box-shadow);

$card-box-shadow: var(--card-box-shadow);
