// @include media-breakpoint-up(lg) {
//     body{
//         font-size: $font-size-base * 0.8;
//     }
// }

// @include media-breakpoint-up(xl) {
//     body{
//         font-size: $font-size-base;
//     }
// }

// @include media-breakpoint-up(xxl) {
//     body{
//         font-size: $font-size-base;
//     }
// }

@include media-breakpoint-up(xs) {
  .p-topbar {
    padding-top: $topbar-height;
  }
}
@include media-breakpoint-up(sm) {
  .p-topbar {
    padding-top: 90px;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-base * 0.7;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    font-size: $font-size-base * 0.6;
    padding: 0.2rem 0.7rem;
  }
  h3 {
    font-size: $h3-font-size * 0.7;
  }
  h4 {
    font-size: $h4-font-size * 0.7;
  }
  h5 {
    font-size: $h5-font-size * 0.7;
  }
  .avatar-sm {
    height: 2.5rem;
    width: 2.5rem;
  }
  .p-2 {
    padding: 0.6rem !important;
  }
  .card {
    margin-bottom: 16px;
  }
  .card-body {
    padding: 1.25rem;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto,
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl,
  .col-xxl-auto {
    padding-left: 8px;
    padding-right: 8px;
  }
  .page-title-box {
    .page-title {
      font-size: 20px;
      margin: 0 0 15px 0;
      line-height: 3;
    }
    .page-title-right {
      top: 40px;
    }
  }
  .topbar-nav {
    .side-nav-link {
      font-size: $font-size-base * 0.8;
      padding: 0.7rem 1.3rem;

      i {
        margin: 0 0.375rem 0 0;
        font-size: 0.875rem;
        vertical-align: baseline;
      }

      &.has-arrow {
        padding-right: 2rem;
      }
    }
  }
  .notification-list .noti-icon {
    font-size: 20px;
    vertical-align: middle;
    line-height: 50px;
  }

  .p-topbar {
    padding-top: 90px;
  }
  .btn-lg,
  .btn-group-lg > .btn {
    font-size: 1rem;
  }
  .nav-user {
    min-height: 50px;
    padding: 0 20px 0 57px !important;
  }
  .nav-user .account-user-avatar {
    top: 12px;
  }
  .nav-user .account-user-name {
    font-size: $font-size-base * 0.7;
  }
  .nav-user .account-position {
    font-size: $font-size-base * 0.6;
  }
  .nav-user .account-user-avatar img {
    height: 30px;
    width: 30px;
  }
  .topnav-logo-lg h3 {
    margin: 0;
    padding: 17px 0;
    position: absolute;
    font-weight: 100;
    letter-spacing: 3px;
  }
}

@include media-breakpoint-up(lg) {
  body {
    font-size: $font-size-base;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    font-size: $font-size-base * 0.875;
  }
  h1 {
    font-size: $h1-font-size;
  }
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h3-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  h5 {
    font-size: $h5-font-size;
  }
  .avatar-sm {
    height: 3rem;
    width: 3rem;
  }
  .p-2 {
    padding: 0.725rem !important;
  }
  .card-body {
    padding: 1.75rem;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto,
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl,
  .col-xxl-auto {
    padding-left: 8px;
    padding-right: 8px;
  }
  .page-title-box {
    .page-title {
      font-size: 25px;
      margin: 0 0 25px 0;
      line-height: 3;
    }
    .page-title-right {
      top: 50px;
    }
  }
  .topbar-nav {
    .side-nav-link {
      font-size: $font-size-base;
      padding: 1rem 1.3rem;

      i {
        margin: 0 0.375rem 0 0;
        font-size: 0.875rem;
        vertical-align: baseline;
      }

      &.has-arrow {
        padding-right: 2rem;
      }
    }
  }

  .p-topbar {
    padding-top: 150px;
  }

  .btn-lg,
  .btn-group-lg > .btn {
    font-size: 1.25rem;
  }
  .topnav-navbar {
    min-height: 70px;
  }
  .btn-lg,
  .btn-group-lg > .btn {
    font-size: 1rem;
  }
  .notification-list .noti-icon {
    font-size: 25px;
    vertical-align: middle;
    line-height: 70px;
  }
  .nav-user {
    min-height: 70px;
    padding: 10px 20px 10px 67px !important;
  }
  .nav-user .account-user-avatar {
    top: 20px;
  }
  .nav-user .account-user-name {
    font-size: $font-size-base;
  }
  .nav-user .account-position {
    font-size: $font-size-base * 0.8;
  }
  .nav-user .account-user-avatar img {
    height: 35px;
    width: 35px;
  }
  .topnav-logo-lg h3 {
    margin: 0;
    padding: 25px 0;
    position: absolute;
    font-weight: 100;
    letter-spacing: 3px;
  }
}

.title-search .app-search .form-control {
  background-color: #ffffff !important;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.card-header {
  border-radius: 0.75rem 0.75rem 0 0 !important;
}

.dashed-border {
  border: 1px dashed #dee2e6;
  border-radius: 6px;
}

.add-action-icon {
  color: $blue-dark;
  cursor: pointer;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 2.3rem;
  width: 2.3rem;
  &:hover {
    background-color: #f0f8ff;
  }
}
