// 
// buttons.scss
//

.btn {
    box-shadow: none !important;
    .mdi {
        &:before {
            line-height: initial;
        }
    }
}

.btn-rounded {
    border-radius: 2em;
}

.btn-primary{
    box-shadow: none !important;
}

// Button Shadows
@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-shadow($value);
    }
}