//
// tabs.scss
//

.nav-tabs,
.nav-pills {
    > li {
        > a {
            color: $gray-700;
            font-weight: $font-weight-semibold;
        }
    }
}

.nav-pills {
    > a {
        color: $gray-700;
        font-weight: $font-weight-semibold;
    }
}

.bg-nav-pills {
    background-color: $nav-pills-bg;
}

//
// nav-bordered
//

.nav-tabs.nav-bordered {
    border-bottom: 2px solid rgba($gray-600, 0.2);

    .nav-item {
        margin-bottom: -2px;
    }

    li {
        a {
            border: 0;
            padding: 0.625rem 1.25rem;
        }
        a.active {
            border-bottom: 2px solid $primary;
        }
    }
}

.side-nav .mm-active > a.side-nav-link:after {
    transform: translateX(-50%) scaleX(1);
}

.side-nav a.side-nav-link:after {
    content: '';
    height: 2px;
    bottom: 10px;
    position: absolute;
    left: 50%;
    width: 69%;
    background: #cedce4;
    transform: translateX(-50%) scaleX(0);
}
.side-nav a.side-nav-link,
.side-nav a.side-nav-link:after {
    transition: all 0.3s ease-out !important;
}

.side-nav-item:first-of-type .side-nav-link:after {
    left: 42%;
    width: 80%;
}

.nav-search input {
    border-radius: 25px;
    border: none;
    background-color: #414b54;
    color: $white;
}

.nav-search input:focus {
    background-color: #414b54;
    color: $white;
}

.nav-progress {
    position: relative;
    display: block;
    width: 100%;
    height: 0.25rem;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-progress .progress-bar {
    height: 0.25rem;
    background-color: $green;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.submit-progress {
    width: 100%;
    height: 2rem;
    border-radius: 0.75rem;
}

.submit-progress .progress-bar {
    height: 2rem;
    border-radius: 0.75rem;
}
