.addProjectWrapperCard {
    width: 100%;
    height: calc(100% - 16px);
    border: 2px dashed #bbb;
    border-radius: 0.75rem;
    color: #999;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.addProjectText i {
    font-size: 70px;
}

.addProjectText h3 {
    margin-top: -10px;
}

.addProjectText {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.addProjectWrapperCard:hover {
    color: #444;
    border-color: #444;
    background-color: #efefef;
}

.executive-card:hover,
.active-card {
    border-color: #65c1ce;
    cursor: pointer;
}

.project-img {
    width: 100%;
    border-radius: 5px;
}
.scrollToBottom {
    height: 450px;
}
.reply-btn {
    right: 50px;
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
}
.reply-message {
    margin-left: 50px;
}
