.project-img {
    width: 100%;
    border-radius: 5px;
}
.scrollToBottom {
    height: 450px;
}
.reply-btn {
    right: 50px;
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
}
.reply-message {
    margin-left: 50px;
}
