//
// authentication.scss
//

// authentication pages background
body.authentication-bg {
    background-image: $auth-bg-pattern-img;
    background-size: cover;
    background-position: center;
}

.authentication-bg.enlarged,
.auth-fluid-pages.enlarged,
body.auth-fluid-pages[data-leftbar-compact-mode='condensed'] {
    min-height: 100px;
}

// Logout page
.logout-icon {
    width: 140px;
}

// Authentication fluid
.auth-fluid {
    // position: relative;
    // display: flex;
    // align-items: center;
    // min-height: 100vh;
    // flex-direction: row;
    // align-items: stretch;
    // background: url('../../../images/bg-auth.jpg') center;
    // background-size: cover;
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .col-9,
    .col-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .bg-form {
        background-color: $auth-bg;
        height: 100vh;
        overflow-y: auto;
    }
    .auth-fluid-form-box {
        // max-width: 480px;
        border-radius: 0;
        z-index: 2;
        padding: 2rem 0;
        position: relative;
        width: 100%;
    }

    .auth-fluid-right {
        padding: 6rem 3rem;
        flex: 1;
        position: relative;
        color: $white;
        background-color: rgba($black, 0.3);
    }

    .text-muted {
        color: #98a6ad !important;
    }

    h4,
    label {
        color: #6c757d !important;
    }
}

.auth-brand {
    margin-bottom: 2rem;
}

.auth-user-testimonial {
    // position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;

    p.lead {
        font-size: 1.125rem;
        margin: 0 auto 20px auto;
        max-width: 700px;
    }
}

//Slide header navbar css
.navbar-slide {
    font-weight: 600;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1030;

    .navbar-brand {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }

    .navbar-nav {
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active,
        .nav-link {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            display: inline-block;
            position: relative;
        }

        .nav-item {
            display: inline-block;
            padding: 0 15px;
            position: relative;
        }

        .nav-link:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        .nav-link:hover:after,
        .nav-link.active:after {
            width: 100%;
            left: 0;
        }
    }
}

.fp-viewing-introSection-1 #fp-nav,
.fp-viewing-introSection-2 #fp-nav,
.fp-viewing-introSection-3 #fp-nav,
.fp-viewing-titleSection-1 #fp-nav,
.fp-viewing-titleSection-2 #fp-nav,
.fp-viewing-titleSection-3 #fp-nav,
.fp-viewing-titleSection-4 #fp-nav,
.fp-viewing-titleSection-5 #fp-nav,
.fp-viewing-titleSection-61 #fp-nav,
.fp-viewing-titleSection-7 #fp-nav,
.fp-viewing-titleSection-8 #fp-nav,
.fp-viewing-titleSection-9 #fp-nav,
.fp-viewing-titleSection-10 #fp-nav {
    display: none;
}

.fp-section {
    background-color: #f1f2f6;
}

.title-section {
    .brand-logo {
        position: absolute;
        color: #828282;
        top: 5%;
        font-family: sans-serif;
        font-size: 1.5rem;
        z-index: 2;
        font-family: 'GT-Pressura-Mono', Courier, monospace;
    }

    .brand {
        font-size: 8rem;
    }
    .brand-describe {
        margin-top: -63px;
    }
    .menu-list {
        display: block;
        position: absolute;
        right: 5%;
        top: 5%;
        font-family: 'GT-Pressura-Mono', Courier, monospace;
        .menu-item {
            opacity: 0;
            display: list-item;

            .active span {
                color: #000;
            }

            .active::after {
                margin-left: 9px;
                width: 15px;
            }
        }
        .menu-link {
            overflow: hidden;
            position: relative;
            display: inline-block;
            font-size: 13px;
            span {
                display: inline-block;
                color: #828282;
            }

            &:hover span {
                color: #000;
            }

            &::after {
                content: '';
                border-top: 1px solid #000;
                width: 0;
                opacity: 0.5;
                display: inline-block;
                -ms-transform: translateY(-4px);
                transform: translateY(-4px);
                transition: all 0.2s cubic-bezier(0.42, 0.01, 0.23, 1);
            }

            &:hover::after {
                margin-left: 9px;
                width: 15px;
            }
        }
    }
}

.field-component {
    .hover-link {
        display: inline-block;
        text-decoration: none;
    }
    .hover-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #343a40;
        transition: width 0.3s;
    }

    .hover-card:hover .hover-link::after {
        width: 100%;
    }
}

.our-work-icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.slide-footer {
    position: absolute;
    bottom: 0;
    z-index: 1030;
    left: 50%;
    transform: translate(-50%);
    img {
        height: 60px;
    }
}
@keyframes navLinkSlideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.icon-with-bg.bg-primary {
    background: 0 0 !important;
}

.icon-with-bg.bg-success {
    background: 0 0 !important;
}

.icon-with-bg {
    z-index: 10;
    position: relative;
}

.f-20 {
    font-size: 20px !important;
}

.icon-with-bg.bg-primary:after {
    background-color: $primary !important;
}

.icon-with-bg.bg-success:after {
    background-color: $success !important;
}

.icon-with-bg.f-20:after {
    left: -10px;
    top: -10px;
    width: 24.4px;
    height: 24.4px;
}

.icon-with-bg:after {
    content: '';
    position: absolute;
    left: -22px;
    top: -22px;
    width: 44px;
    height: 44px;
    opacity: 0.2;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.feature-left {
    background-image: url(../../../images/background/bg-feature-left.png);
}

.feature-right {
    background-image: url(../../../images/background/bg-feature-right.png);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #8fbbea !important;
}

.fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
}

.fp-slide {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}

.fp-slide.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.about-slide {
    background-image: url('../../../images/register/about.svg');
    background-size: cover;
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.img-slide {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
    background: url('../../../images/bg-auth.jpg') center;
    background-size: cover;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact-slide {
    .form-control {
        border-radius: 0.5rem;
        background-color: transparent;
    }
}

@include media-breakpoint-up(xs) {
    //
}
@include media-breakpoint-up(sm) {
    //
}

@include media-breakpoint-up(md) {
    .auth-fluid {
        display: block;

        .auth-fluid-form-box {
            max-width: 100%;
            min-height: 100vh;
        }

        .auth-fluid-right {
            display: none;
        }
    }

    .auth-brand {
        position: absolute;
        top: 2rem;
    }
}

@include media-breakpoint-up(lg) {
    .auth-brand {
        position: absolute;
        top: 2rem;
    }

    .auth-fluid {
        .auth-fluid-form-box {
            max-width: 480px;
            z-index: 2;
            padding: 2rem 0;
        }
    }

    .title-section {
        .brand {
            font-size: 8rem;
        }
        .brand-describe {
            margin-top: -20px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .auth-brand {
        position: absolute;
        top: 6rem;
    }

    .auth-fluid {
        .auth-fluid-form-box {
            max-width: 480px;
            z-index: 2;
            padding: 3rem 2rem;
        }
    }

    .title-section {
        .brand {
            font-size: 12rem;
            font-weight: 600;
        }
        .brand-describe {
            font-size: 1.8rem;
            width: 80%;
        }
        .menu-list .menu-link {
            font-size: 16px;
        }
    }
}
