//
// dashboard.scss
//

.project-widget {
    .card-header {
        padding: 0 1rem;
    }
    p {
        margin-bottom: 0.25rem;
    }
    .divider {
        border-bottom: 1px solid #ced4da !important;
        border-right: none !important;
    }
    .icon-arrow {
        z-index: 1;
    }
}

.project-detail-heading {
    h4 {
        display: inline;
    }
}

.grid-filter-wrap {
    border-radius: 60px;
    border: 1px solid #ced4da;
    text-align: center;
}
.grid-filter-wrap .filter-item {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #aab2d2;
    padding: 0 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0;
    line-height: 25px;
    display: inline-block;
    z-index: 1;
}
.grid-filter-wrap .filter-item.active:before {
    opacity: 1;
}

.widget-filter .filter-item {
    font-size: 18px;
    padding: 0 10px !important;
}

.grid-filter-wrap .filter-item:before {
    opacity: 0;
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: $dark;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#015dc7',endColorStr='#a200ff',gradientType='1');
    -webkit-transition: all 0.3s linear 0ms;
    -moz-transition: all 0.3s linear 0ms;
    -o-transition: all 0.3s linear 0ms;
    transition: all 0.3s linear 0ms;
    z-index: -1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
.grid-filter-wrap .filter-item.active {
    color: #fff;
}
.table-widget {
    table {
        width: auto;
        td,
        th {
            padding: 0.13rem;
        }
    }
}

//@include media-breakpoint-up(xs) { ... }

@include media-breakpoint-up(sm) {
    .project-widget {
        .divider {
            border-right: 1px solid #ced4da !important;
            border-bottom: none !important;
        }
    }
}
@include media-breakpoint-up(md) {
    .project-widget {
        .card-body {
            padding: 0.75rem 1rem;
        }
    }
}
@include media-breakpoint-up(lg) {
    .project-widget {
        .card-body {
            padding: 1rem 1.5rem;
        }
    }
}

//@include media-breakpoint-up(xl) { ... }
