.otpContainer {
    margin: 5% auto;
}

.otpInput {
    width: 2.5rem !important;
    height: 2.5rem;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
