

.our-work {
    background-color: #f1f1f1 !important;
}

.our-work p {
    font-size: larger;
}

.our-work .hover-link {
    display: inline-block;
    text-decoration: none;
}

.our-work .hover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #343a40;
    transition: width 0.3s;
}

.our-work .hover-card:hover .hover-link::after {
    width: 100%;
    /* transition: width .3s; */
}

.our-work-icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.toggle-button {
    background-color: #ffffff;
    box-shadow: 2px 2px 8px 0 rgba(49, 57, 66, 0.5);
};