.contact-grade-filter-li {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #eee;
}
.nav-bordered {
    border-bottom: none !important;
}
.nav-tabs.nav-bordered .nav-item {
    margin-bottom: 0px !important;
}
.user-name {
    width: 85%;
    float: left;
}
.user-rating {
    width: 15%;
    float: right;
    text-align: right;
}
.grade-1 {
    border-left: 3px solid #1be4ab;
}
.grade-2 {
    border-left: 3px solid #9ce41b;
}
.grade-3 {
    border-left: 3px solid #1be457;
}
.grade-4 {
    border-left: 3px solid #ffe302;
}
.grade-5 {
    border-left: 3px solid #ffb75b;
}
.threadFilterButton {
    width: 100%;
}
.threadFilterButton button {
    width: 50%;
    padding: 5px;
    font-size: 14px;
    margin-top: -15px;
}
.activeBtn {
    color: #313a46 !important;
    background-color: #d4deeb !important;
    border-color: #cbd7e7 !important;
}
