.owl-nav {
    top: 20%;
    position: absolute;
    width: 100%;
}
.owl-nav i {
    font-size: 40px;
    color: #555;
}
.owl-next,
.owl-prev {
    height: 70px;
    width: 70px;
    margin-top:-150px;
    background: #fff !important;
    position: absolute;
    border: 1px solid #bbb !important;
    border-radius: 0.75rem !important;
    opacity: 0.9;
    transition:0.5s;
}
.owl-next:hover , .owl-prev:hover{
    opacity: 1;
}
.owl-prev{
    left:-15px;
}
.owl-next{
    right:-15px;
}
.owl-dots{
    display:none;
}
.switch-project-view{
    position: absolute;
    right: 0;
    top: -50px;
}
table{
    background: #fff;
}
table thead th{
    color: #98a6ad;
    background-color: #313a46;
    border-color: #414d5d !important;
}
